@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

.py-14 {
    padding-top: 100px;
    padding-bottom: 40px;
}

/* Light Mode Custom Styles */
:root {
    --background-color: #ffffff; /* Light background */
    --text-color: #000000;       /* Dark text */
    /* Add more variables as needed */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    /* Apply other styles as needed */
}